<div id="maincontainer">
  <div class="section maincontain">
    <div class="section Infobox">
      <h2>Information</h2>
      <hr>
      <p>
          Where: <a href="#" id="">Geddes's&nbsp;Home&nbsp;Google&nbsp;Maps</a><br>
        <br> When: April 2nd, 2016 <br>
        <br> Heard the forcast? <br> A baby is predicted <br>but first there will be a shower! <br> Please join us in welcoming <br>Asher Reginald Faherty-Geddes <br> <br><em>It's a Co-ed event so everyone is welcome!</em>
        <br>
      </p>
    </div>
    <div class="rsvpbox">
      <!-- <form class="input-text" id="form1" action="//formspree.io/LorneArielleBabyshower2016@gmail.com" method='post'> -->
      <h2>RSVP</h2>
      <p>
        (Fill out the information below to send us your R.S.V.P) <br>
        (Fill in Street Address if you want to receive a Thank You Card)
      </p>
      <hr>
      <form class="form" id="form1" action="MAILTO:someone@example.com" method='post' enctype="text/plain">
        <div class="input-group">
          <input class="input-text-input" type="email" id="email" name="Email Address">
          <label for="email">Email*</label>
        </div>
        <div class="input-group">
          <input class="input-text-input" type="text" id="address" name="Street Address">
          <label for="address">Street Address</label>
        </div>
        <div class="input-group">
          <input class="input-text-input" type="text" id="names" name="People who are coming">
          <label class="text-area-label" for="names">Who's coming*</label>
        </div>
        <button type="submit" form="form1">SEND</button>
      </form>
      </div>
    </div>
  </div>
</div>
