<div id="maincontainer">
  <div class="section maincontain">
    <div class="section Infobox">
      <h2>Information</h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa nulla cupiditate obcaecati, at necessitatibus numquam provident, non suscipit est blanditiis recusandae ratione tenetur saepe veniam aliquam debitis delectus iste, voluptatem!</p>
    </div>
    <div class="section rsvpbox">
      <!-- <form class="input-text" id="form1" action="//formspree.io/LorneArielleBabyshower2016@gmail.com" method='post'> -->
      <h2>RSVP</h2>
      <p>
        (Fill out the information below and send us your R.S.V.P)
      </p>
      <hr>
      <form class="section form" id="form1" action="MAILTO:someone@example.com" method='post' enctype="text/plain">
        <input class="input-text-input" type="email" id="email" name="Email Address">
        <label for="email">Email*</label>
        <input class="input-text-input" type="text" id="address" name="Street Address">
        <label for="address">Street Address</label>
        <input class="input-text-input" type="text" id="names" name="People who are coming">
        <label class="text-area-label" for="names">Who's coming*</label>
        <button type="submit" form="form1">Send</button>
      </form>
      <div class="section contact">
        <div class="contact">
          <h4><em>Arielle Faherty</em></h4>
          <p><em>403-393-4025 <br>afathery500@gmail.com</em></p>
        </div>
        <div class="contact">
          <h4><em>Lorne Geddes</em></h4>
          <p><em>403-393-4536 <br>lornegetcet22@gmail.com</em></p>
        </div>
      </div>
    </div>
</div>
</div>
