h2
  font:
    size: 60px
    weight: 800
  letter-spacing: 3px
  padding: 15px
  margin-top: 15px
hr
  border: 2px solid rgb(42, 245, 23)
  width: 80%
.maincontain
  display: flex
  flex-flow: row wrap
  background-color: $background-base-color
  justify-content: space-around
  align-items: center
.Infobox
  margin
  background-color: rgb(35, 20, 238)
  display: flex
  flex-flow: column
  align-items: center
  justify-content: flex-start
  align-content: center
  width: 600px
  height: 600px
  & p
    width: 60%
    text-align: justify
.rsvpbox
  background-color: rgb(111, 23, 147)
  display: flex
  flex-flow: column
  align-items: center
  justify-content: flex-start
  align-content: center
  width: 600px
  height: 600px
