<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  <div id="page">
    <div class="keyart" id="nonparallax">
    </div>
{% include parallax.html %}
{% include infoandrsvp.html %}
  </div>
    <script src="assets/js/jquery.min.js" charset="utf-8"></script>
    <script src="assets/js/jquery.mousewheel.min.js" charset="utf-8"></script>
    <script src="assets/js/jquery.simplr.smoothscroll.min.js" charset="utf-8"></script>
    <script src="assets/js/babyshower.js" charset="utf-8"></script>
    <script src="assets/js/input-ctl.js" charset="utf-8"></script>
  </body>

</html>
